
// 文章
.post {
    margin-bottom: 30px;
    padding: 5px;
    -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
    -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

// 归档竖线
.post-type-normal {
    padding: 25px;
    -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
    -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

// 归档a连接变蓝
.posts-collapse .post-title a {
    color: #5073b8;
}

.posts-collapse .post-title {
    padding-left: 10px;
    border-left: 5px solid #16a085;
    background-color: #f7f7f7;
}

// 整体下滑40px
.header {
    margin-top: 40px;
}

// code 编码的样式
code {
    padding: 1px 4px;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: #f9f2f4;
    color: #c7254e;
    word-break: break-all;
}

// 大代码块的自定义样式
.highlight, pre {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}

.highlight, code, pre {
    border: 1px solid #d6d6d6;
}

// a连接
.post-body p a {
    border-bottom: none;
    border-bottom: 1px solid #0593d3;
    color: #0593d3;

    &:hover {
        border-bottom: none;
        border-bottom: 1px solid #fc6423;
        color: #fc6423;
    }
}

// 头部背景
.site-meta {
    background-image: linear-gradient(200deg, #a0cfe4, #e8c37e);
}

.site-subtitle {
    color: #fff;
}

// 背景图片
// body {
// position: relative;
// background: #87daff;
// color: #555;
// font-size: 14px;
// font-family: Lato, 'PingFang SC', 'Microsoft YaHei', sans-serif;
// line-height: 2;
// }
body {
    background-image: url('/images/backColor.png');
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

// 归档的线
.posts-collapse::after {
    margin-left: -2px;
    background-image: linear-gradient(180deg, #f79533 0, #f37055 15%, #ef4e7b 30%, #a166ab 44%, #5073b8 58%, #1098ad 72%, #07b39b 86%, #6dba82 100%);
}
